h1 {
  color: red;
  font-size:20px;
  
}
.style 
{
 font-size: 48ex;
  margin: 1ex;
 font-weight: bold;
 text-align: center;
 border-bottom: 0ex; 
 padding-bottom: 0ex;
}

.title
{
  border:solid;
  font-size: 48px;
  color: green;
}